{{ if .Params.Date }}
    <span><span class="fa fa-calendar"></span>
    <time datetime="{{ .Date.Format "2006-01-02" }}">
        {{ .Date.Format (.Site.Params.dateForm | default "1/2/06") }}
        </time>
    </span>
{{ end }}

{{ if .Params.categories }}
{{ $len := len .Params.categories }}
<span class="meta-tags">
  <span class="fa fa-tags"></span>
  <span>
{{ range $index, $category := .Params.categories }}{{ if  (gt $index 0) }} / {{ end }}{{.}}{{ end }}
</span></span>
{{ end }}
