.text-media-band {
    display:flex;
    .column {
        background-color:rgb(230, 231, 232);
        padding: $column-padding;
        &:nth-of-type(1) {
            background-color:rgb(225, 225, 225)
        }
    }
    
}