.text-media-band {
    .column {
        background-color:rgb(230, 231, 232);
        padding: $column-padding;
        &:nth-of-type(1) {
            background-color:rgb(225, 225, 225)
        }
    }
    
}


.flexed  {
    display:flex;
    @media (max-width: $media-md) {
        display:block;
    }
}