{{ define "main" }}
	<main id="main-content">
		<header class="homepage-header"></header>
		<div class="homepage-content">
			<section class="section-block blog-post">
				<div>
					<div class="article-layout">
						<div class="article-main">
							<article class="article-box article-header">
								{{ if or .Params.categories .Params.tags }}
								{{ partial "blog/taxonomy-badges.html" (dict "categories" .Params.categories "tags" .Params.tags) }}
								{{ end }}

								<div class="post-meta-row">
									{{- with .Params.authors -}}
									<span>{{ delimit . ", " }}</span>
									{{- end -}}
									<span>{{ .Date.Format (.Site.Params.dateForm | default "1/2/06") }}</span>
								</div>

								<h1>{{ .Title }}</h1>
								{{ with .Summary }}
									<div class="article-summary">{{ . }}</div>
								{{ end }}
							</article>

							<article class="article-box article-body">
								<div class="the-content">
									{{ .ContentWithoutSummary }}
								</div>
							</article>
						</div>

						{{ partial "blog/post-aside.html" . }}
					</div>
				</div>
			</section>
		</div>
	</main>
{{ end }}
