{{ define "main" }}	
	<main aria-role="main">
		<header class="single-header">
		</header>
		<div class="page-content single">
			<article>
				<div class="row">
					<div class="blog-left">
						<div>
							<h1>{{ .Title }}</h1>
						</div>
						<div>
							Projects:
							{{- range $cat_index, $category := .Params.categories }}
								{{- if $cat_index }},{{ end }}
								{{ $category }}
							{{- end }}
						</div>
						<div>
							Tags:
							{{- range $tag_index, $tag := .Params.tags }}
								{{- if $tag_index }},{{ end }}
								{{ $tag }}
							{{- end }}
						</div>
						<div>
							Authors:
							{{- range $author_index, $author := .Params.authors }}
								{{- if $author_index }},{{ end }}
								{{ $author }}
							{{- end }}
						</div>
						
						<div>
							Date:
							{{ .Date.Format "2006-01-02" }}
						</div>
						
						<div class="the-content">
							{{ .ContentWithoutSummary | markdownify }}
						</div>
					</div>
					<div class="blog-right row">
						<div>
							<h4>On this page</h4>
    						<ul id="toc-nav"></ul>
						</div>
						<div>
							<h4>Other posts by this author</h4>
							{{ with .Params.authors }}
								<ul id="author-nav">
									{{ $authorName := index . 0 }}
									{{ range first 5 (where $.Site.RegularPages "Params.authors" "intersect" (slice $authorName)) }}
									{{ if ne . $.Page }}
										<li><a class='nav-link' href="{{ .RelPermalink }}">{{ .Title }}</a></li>
									{{ end }}
									{{ end }}
								</ul>
							{{ end }}
						</div>
						<div>
							<h4>Related posts</h4>
							
							{{ with .Params.tags }}
								<ul id="tag-nav">
									{{ $tagName := index . 0 }}
									{{ range first 5 (where $.Site.RegularPages "Params.tags" "intersect" (slice $tagName)) }}
									{{ if ne . $.Page }}
										<li><a class='nav-link' href="{{ .RelPermalink }}">{{ .Title }}</a></li>
									{{ end }}
									{{ end }}
								</ul>
							{{ end }}
						</div>
					</div>
				</div>
				
			</article>
		</div>
	</main>
{{ end }}
