@charset "UTF-8";



/* alt-font-stack defines the backup stack if the initial, usually something specific like a light or regular font, isn't available */
$alt-font-stack: "Inter-Regular", Helvetica, Arial, sans-serif;
$font-light: "Inter-Light", $alt-font-stack;
$font-light-italic: "Inter-LightItalic", $alt-font-stack;
$font-regular: "Inter-Regular", $alt-font-stack;
$font-regular-italic: "Inter-Regular", $alt-font-stack;
$font-medium: "Inter-Medium", $alt-font-stack;
$font-medium-italic: "Inter-MediumItalic", $alt-font-stack;
$font-bold: "Inter-Bold", $alt-font-stack;
$font-bold-italic: "Inter-BoldItalic", $alt-font-stack;

@import "partials/_variables.scss",
        "partials/_fonts.scss",
        "partials/_columns.scss",
        "partials/_animate.scss",
        "partials/_nav.scss";


.text-media-band,
.impact-band,
.action-lanes,
.timeline-cards,
.principle-triptych,
.diagram-stage,
.project-summary-list ,
.logo-bar ,
.people-grid ,
.scroll-table,
.form-stack,
.post-grid,
.article-body
{
    
}

