@use "partials/variables";

#posts-container {
    display:flex;
    flex-wrap:wrap;
    padding:20px;
    gap: 26px;
    & > div {
        flex-basis:32%;
        background-color:variables.$comet-darkblue;
        padding:20px;
        color: #fff;
        
    }
}


.section-block.blog {
    padding:20px;;
    #filter-controls {
        padding:20px;
        background-color:#fff;
        display:flex;
        justify-content: space-between;
        align-items:center;
        margin-bottom: 20px;
        border-radius:6px;
        select {
            padding:5px;
        }
        & > * {
            display:block;
        }
    }

    & > div {
        margin:0;
        padding:0;
        background-color:#fff;
        
    }
}

.single article {
    border:1px dotted orange;
    background-color:variables.$comet-blue;
    border-radius:12px;
    margin-bottom: 20px;
    padding:20px;
    & > div {   
        gap: 20px; 
        flex-wrap:nowrap;    
        & > .blog-left {
            flex-shrink:1;
            background-color:#fff;
            border-radius:6px;
            padding:20px;
            .article-intro {
                $fake-gap:40px;
                $fake-bar-height:20px;

                padding-left:20px;
                padding-right:20px;
                margin-left: -20px;
                margin-right: -20px;

                position:relative;
                .article-intro-bottom{
                    position:relative;
                    height:calc($fake-gap + $fake-bar-height + $fake-bar-height);
                    margin-left: -20px;
                    margin-right: -20px;
                    background-color:variables.$comet-blue;
                    &::before {
                        content: "";
                        position:absolute;
                        top:0;
                        right:0;
                        left:0;
                        height:$fake-bar-height;
                        display:block;
                        background-color:#fff;
                        
                        border-bottom-left-radius:6px;
                        border-bottom-right-radius:6px;
                    }
                    &::after {
                        content: "";
                        position:absolute;
                        bottom:0;
                        right:0;
                        left:0;
                        height:$fake-bar-height;
                        display:block;
                        background-color:#fff;
                        border-top-left-radius:6px;
                        border-top-right-radius:6px;
                    }
                }
                
               
            }
        }    
        & > .blog-right {
            flex:0 1 25%;
            padding:0;
            margin:0;
            gap: 20px; 
            align-content:start;
            align-self:start;
            position:sticky;
            top:0;
            & > div {                
                background-color:#fff;
                border-radius:6px;
                padding:20px;
            }
        }
    }
}
#pagination-container {
    padding:20px;
    display:flex;
    gap:6px;
    .page-btn {        
        padding:10px 20px;
        border-radius:6px;
    }
}
#toc-nav {
    padding:0;
    margin:0;
    li {
        list-style:none;
        display:inline-block;
        font-size:0.8rem;
        width:100%;

    }
    .nav-link {
        color: darkgrey;
    }
    .nav-link.active {
        color: black;
        font-weight: bold;
        border-left-color: #007bff;
        background-color: #f8f9fa;
    }
}