@use "partials/variables";

label {
    input,textarea {
        display:block;
    }
    font-weight:bold;
}
.checkboxes > div {
    padding-bottom: 10px;
}
button.reverse {
    color:variables.$comet-darkblue;
    background-color: variables.$comet-button-text-color;
    border:1px solid variables.$comet-button-text-color;
    &:hover{
        
        color:variables.$comet-button-text-color;
        background-color: variables.$comet-darkblue;
        border:1px solid variables.$comet-button-text-color;
    }
}
