@use "partials/variables";
body {
  font-family: variables.$font-default;
  font-size: 18px;
}

.page-content {

    width: variables.$content-width;
    margin:0 auto;
    padding-bottom: variables.$standard-padding;


  strong {
    font-family: variables.$font-bold;
    font-weight: 700;
  }



  ol, ul {
    padding-left: 2rem;
  }  
  
  dl {
  
    dt {
      font-family: variables.$font-bold;
      font-weight: 700;
    }
    
    dd {
      padding-left: 2em;
    }
  }

}



h1,
h2,
h3,
h4,
h5,
h6 {
  
  font-family: variables.$font-bold;
  color: #000;
  margin-top: 2rem;
  margin-bottom: 20px;

  [class~='row']:first-of-type & {
  }
    
}

h1,
h2 {
}

p {
  margin-bottom: 30px;
}

p:last-child {
    margin-bottom: 0;

    @media (max-width: variables.$break-large) {
      
      [class~='col']:first-of-type & {
        margin-bottom: 30px;
      }
    }

}

.maintext p:last-of-type {
  margin-bottom: 0;
}

.row [class~='row']:last-of-type {
  padding-bottom: 0!important;
}

code {
  color: red;
  font-size: 1em;
  font-family: variables.$font-default;
  display: inline;
  background-color: variables.$background-grey;
  padding: 2px 4px;
  margin: 0 -2px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

pre {
  color: red;
  display: block!important;
  font-size: 1em;
  font-family: variables.$font-default;
  display: inline;
  background-color: variables.$background-grey;
  padding: 2px 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
  
  code {
    display: block;
    background-color: none;
    border: 0;   
  }
  
}

figure {
  margin:40px 0;
  padding:20px;
  text-align: center;     
  box-shadow: 0px 0px 25px 4px rgba(75,141,150,0.58);
  
  figcaption h4 {
    font-size: 1em;
    font-style: italic;
    font-family: variables.$font-bold
  }
  img {
    width:80%;
  }
}

blockquote {
  margin: 0 2em 30px 3em;  
}