@use "partials/variables";
.stacked-element-container {
    display:flex;
    background-color: #fff;
    &.grid {
        flex-wrap:wrap;
        justify-content: flex-start;
        gap:35px;
        row-gap:15px;
        > div {border:1px dashed grey;}
    }

    &.timeline,
    &.stack {
        flex-direction:column;
    }
    .stacked-element {
        padding:20px;
        background-color: #f1f2f4;
        border-radius: variables.$block-radius;
        border:1px dashed grey;
    }
}