@use "partials/variables";
.stacked-element-container {
    display:flex;
    background-color: #fff;
    &.grid {
        flex-wrap:wrap;
        justify-content: flex-start;
        gap:30px;
        row-gap:15px;
        > div {
            border:1px dashed grey;
        }
    }

    &.timeline {
        gap:30px; 
        flex-direction:column;     
        .row {
            margin:0;                       
        }

    }
    &.stack {
        flex-direction:column;
    }
    &.three { 
        column-gap:30px;     
        .row {
            margin:0;
                       
        }
        .stacked-element {
            flex-shrink:1;
            .media {
                height:200px;
            }
        } 
    }

    .stacked-element {
        padding:20px;
        background-color: variables.$comet-darkblue;
        color: #fff;
        h2,h3,h4,h5 {
            color: #fff;
        }
    }
}
.portrait {
    aspect-ratio: 0.9;
    display:flex;
    
}