@use "partials/variables";
.tax-listing .row {
    display:flex;
    flex-wrap:wrap;
    padding:0;
    gap: 26px;
    & > div {
        flex-basis:32%;
        border:2px dotted orange;
        background-color:#fff;
        padding:10px;
        border-radius: 10px;
        
    }
}