$comet-white: #f5f5f5;
$comet-darkblue: #0b2644;
$comet-blue: #4b8d96;
$comet-lightgreen: #b1ebda;
$comet-green: #96c896;
$comet-darkgreen: #799e77;
$comet-button-background:$comet-darkblue;
$comet-button-text-color:#fff;
$comet-nav-font-color:$comet-darkblue;

$link-color: #000;
$link-arrow: #FAB70C;
$background-grey: #f4f4f4;
$background-blue: #5c7292;
$background-orange: #FAB70C;
$main-font-color: $comet-darkblue;;
$sub-font-color:#8ca19c;
$link-blue: #0B2698;

$comet-button-primary: #164257;
$comet-button-secondary: #4b8d96;
$comet-button-tertiary: #799e77;

$comet-gold: #b59122;
$comet-gold-pale: #e2d4a7;

$comet-cat-box: #4b8d95;
$comet-table-headings: #4b8d95;
$comet-table-lines: #B1EBDA;
$comet-table-border: #87acae;
$comet-table-color: $comet-darkblue;

$comet-comet-alt-color:#b1edda;
$transition-time: 0.2s;

$content-width:80%;

$standard-padding:0;
$mobile-padding: 50px;

// Predefined Break-points
$break-xxlarge: 1600px;
$break-xlarge: 1400px;
$break-large: 1200px;
$break-medium: 960px;
$break-msmall: 720px;
$break-small: 480px;
$break-xsmall: 320px;

// section outlines
$section-radius: 12px;
$section-padding: 0;
$section-background-color: #fff;
$section-gap: 20px;
$section-width: 90%;
$site-width: $section-width;

$site-max-width: 1800px;


$section-div-padding: 20px;

@mixin site-container {
    width: $site-width;
    max-width: $site-max-width;
    margin-left: auto;
    margin-right: auto;
}

/* font variables */
$font-default: 'Instrument Sans', system-ui, -apple-system, BlinkMacSystemFont,'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-bold: 'Instrument Sans', system-ui, -apple-system, BlinkMacSystemFont,'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-h1: 72px;
$font-h1-small: 48px;
$font-default-size: 16px;

$block-radius: 6px;

