<section class="section-block diagram-stage">
    <div>
        <i class="debug-info">diagram stage layout</i>
        <div class="d-flex">
            <div class="col-4">
                <h2>{{ .headline }}</h2>
            </div>
            <div>{{ .content | markdownify }}</div>
        </div>
        <div class="diagram">
            <div class="line-wrapper">
                <div class="line-background"></div>
                <div class="drawing-line">
                    <img src="{{ "/images/logos/comet-line-start.svg" | relURL }}" />
                </div>
            </div>
            <div class="medias">
                <img class='desktop primary'   src="{{ .mediaPrimary | relURL }}" />
                <img class='desktop secondary' src="{{ .mediaSecondary | relURL }}" />    
                <img class='mobile primary'   src="{{ .mediaPrimaryMobile | relURL }}" />
                <img class='mobile secondary' src="{{ .mediaSecondaryMobile | relURL }}" />              
            </div>
        </div>
    </div>
</section>