<i>featured post</i>
<div class="d-flex flex-wrap">

    <div class="media col-lg-5">
        <a href="{{ .Permalink }}">
            <img src="{{ .Site.BaseURL }}{{ .Params.media }}"  class="img-fluid"/>
        </a>
    </div>

    <div class="col-lg-7 post-entry text-secondary p-2">
        <a href="{{ .Permalink }}">
            <h3>{{ .Title }} </h3>
        </a>
        <div>
            Projects:
            {{- range $cat_index, $category := .Params.categories }}
                {{- if $cat_index }},{{ end }}
                {{ $category }}
            {{- end }}
        </div>
        <div>
            Tags:
            {{- range $tag_index, $tag := .Params.tags }}
                {{- if $tag_index }},{{ end }}
                {{ $tag }}
            {{- end }}
        </div>
        <div>
            Authors:
            {{- range $author_index, $author := .Params.authors }}
                {{- if $author_index }},{{ end }}
                {{ $author }}
            {{- end }}
        </div>
        
        <div>
            Date:
            {{ .Date.Format (.Site.Params.dateForm | default "1/2/06") }}
        </div>
        {{ if .Summary }}
        {{ .Summary | plainify }}
        {{ end }}
    </div>
</div>
