<section class="section-block form-stack">
<div>
    <i class="debug-info">form-stack-text layout invoked</i>
    {{ with .headline }}
    <div class="details">
        <h3>{{ . }}</h3>
    </div>
    {{ end }}
    {{ with .content }}
    <div class="form-stack__intro">{{ . | markdownify }}</div>
    {{ end }}
    {{ $block := . }}
    {{ with .cta_url }}
    <div class="form-stack__cta">
        <a href="{{ . | relURL }}" class="no-underline"><button>{{ $block.cta_text }}</button></a>
    </div>
    {{ end }}
</div>
</section>
