<section class="section-block form-stack">
<div>
    <i class="debug-info">form-stack layout invoked</i>  
    <h1>{{ .headline }}</h1>
    <div>{{ .content | markdownify }}</div>
    <form>
        <div class="row">
            <div class="row col-6 mt-3">
                <div class="details col-12">
                    <h3>Your details</h3>
                </div>
                <div class="row m-0 p-0">
                    <div class="col-6">
                        <label>First name*
                            <input type="text" name="firstname" required/>
                        </label>
                        
                    </div>
                    <div class="col-6">
                        <label>Surname*
                            <input type="text" name="surname" required/>
                        </label>
                    </div>
                </div>
                <div class="row m-0 p-0">
                    <div class="col-6">
                        <label>Primary affiliation*
                            <input type="text" name="primary" required/>
                        </label>
                    </div>
                    <div class="col-6">                    
                        <label>Secondary affiliation
                            <input type="text" name="secondary"/>
                        </label>
                    </div>
                </div>
                <div class="row m-0 p-0">
                    <div class="col-6">
                        <label>Email*
                            <input type="text" name="email" required/>
                        </label>
                    </div>
                    <div class="col-6">
                        <label>LinkedIn
                            <input type="text" name="linkedin" />
                        </label>
                    </div>
                </div>
                
            </div> 
            
            <div class="comet row col-1 m-0"> 
                {{ partial "blocks/comet-line-down.html" }} 
            </div>


            <div class="row col-5 checkboxes align-content-start checkbox-container">
                <div class="details col-12 mt-3">
                    <h3>Areas of participation</h3>
                </div>
                <div class="row col-12 flex-column">                
                    <div class="col-12 mt-3 m-0 p-0">
                        <div>
                            Join community
                        </div>
                                               
                    </div>
                    <div class="d-flex align-items-center justify-content-flex-start gap-2 mt-2 m-0 p-0">
                        <input type="checkbox" name="join-community"  id="join-community" class="round-checkbox"/>
                        <label for="join-community">
                            Receive updates
                        </label> 
                    </div>
                </div> 


                <div class="row col-12 flex-column">               
                    <div class="col-12 mt-3 m-0 p-0">  
                        <div>Participate in project collaborations</div>             
                    </div>
                    <div class="d-flex align-items-center justify-content-flex-start gap-2 mt-2 m-0 p-0">
                        <input type="checkbox" name="participate"  id="participate" class="round-checkbox"/>
                        <label for="participate">
                            Receive updates
                        </label>
                    </div>
                </div>  
               
            </div>
        </div>
        <!--<div class="row col-12">
            <div class="col text-start">               
                <input type="checkbox" name="confirm"  id="confirm"/>
                <label for="confirm">
                    I agree that COMET may store and process my personal data in order to contact me and respond to my submission. <a href='tandc'>Full terms and conditions.</a>
                </label>
                
            </div>
            
        </div>-->
        
        <div class="row">
            <div class="col text-end">
                <input type="submit" />
            </div>
        </div>

    </form>

    </div>
</section>