<section class="section-block hero-intro {{ .variant }}">
    <div>
        {{ if eq .variant "with-cta" }}
            <i>with-cta layout invoked</i>        
        {{ else if eq .variant "media-right" }}
        
            <i class="debug-info">media-right layout invoked</i>  
            <div class="row">
                <div class="col-9">
                    <h1>{{ .headline }}</h1>
                    <div>{{ .content | markdownify }}</div>
                </div>    
                <div class="media-col col-3">
                    <img src="{{ .Site.BaseURL }}{{ .media }}"  alt="{{ .media_alt }}" title="{{ .media_hover }}" class="img-fluid"/>
                </div>
            </div>
         
        {{ else if eq .variant "background" }}
            <style>
                section.hero-intro {
                    background-image:url( {{ .Site.BaseURL }}{{ .media }} );
                }
            </style>
            <i class="debug-info">background layout invoked</i>  
            <div class="row">
                <div class="col-7">
                    <h1>{{ .headline }}</h1>
                    <div>{{ .content | markdownify }}</div>
                </div>    
                <div class="media-col col-5">
                    
                </div>
            </div>

        {{ else if eq .variant "media-left" }}  

            <i class="debug-info">media-left layout invoked</i>  
            <div class="row"> 
                <div class="media-col col-3">
                    <img src="{{ .Site.BaseURL }}{{ .media }}"  alt="{{ .media_alt }}" title="{{ .media_hover }}" class="img-fluid"/>
                </div>
                <div class="col-9">
                    <h1>{{ .headline }}</h1>
                    <div>{{ .content | markdownify }}</div>
                </div>   
            </div>

        {{ else if eq .variant "with-bullets" }}
            <i>with-bullets layout invoked</i>  
        {{ else }}
            <i>Default layout invoked</i>  
        {{ end }}
    </div>
</section>