<section class="section-block impact-band {{ .variant }} {{ .color }}">
    <div>
        <i class="debug-info">impact-band layout invoked</i> 
        {{ if eq .variant "below" }}
            <div class="row">
                <div class="col-4">
                    <h2>{{ .headline }}</h2>
                </div>    
                <div class="col-8">     
                    <div>{{ .content | markdownify }}</div>  
                </div> 
            </div>
            <div class="row">
                <div class="col-12">{{ .table | markdownify }}</div>
            </div>
            {{ if .cta_text }}
            <div class="cta-attached d-flex {{ .color }}">
                {{ partial "blocks/comet-line-right.html" }} 
                <div class="infos d-flex flex-column">
                    <div>
                        {{ .cta_headline}}
                    </div>
                    <div class="big-number">
                        {{ .cta_text }}
                    </div>
                </div>
            </div>
            {{ end }}
                   
        {{ else }}
            <div class="row">
                <div class="col-xl-4">
                    <h2>{{ .headline }}</h2>
                    <div>{{ .content | markdownify }}</div>
                </div>    
                <div class="col-xl-8">                    
                    <div>{{ .table | markdownify }}</div>
                     {{ if .cta_text }}
                    <div class="cta-attached right d-flex {{ .color }}">
                        {{ partial "blocks/comet-line-right.html" }} 
                        <div class="infos d-flex flex-column">
                            <div>
                                {{ .cta_headline}}
                            </div>
                            <div class="big-number">
                                {{ .cta_text }}
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
                
               
            </div>
            
        {{ end }}

    </div>
</section>