<section class="section-block stacked-cards {{ .layout_variant }}">
    <div>

        {{ $lv := .layout_variant }}
        {{ $tv := .treatment_variant }}
        {{ $mv := .media_variant }}
        {{ $cv := .color_variant }}
        {{ $colorClass := cond (ne $cv "") (printf "color-%s" $cv) "" }}

        
        {{ if eq $tv "timeline" }} 
            
            <i class="debug-info">timeline layout invoked</i> 
            
            <h2>{{ .headline }}</h2>
            <div>{{ .content | markdownify}}</div>

            {{ if .elements }}
                <div class="stacked-element-container {{ $tv }} {{ $colorClass }}">
                
                    {{ range $index, $element := .elements }}
                        <div class="row stacked-element {{ $tv }}">
                            <div class="col-xl-3">
                                <h3 class="tag">{{ $element.title }}</h3>
                                <div class="index">
                                    {{ add $index 1 }}
                                </div>
                            </div>
                            <div class="content col-xl-9">
                                <h3>{{ $element.headline }}</h3>
                                <p>{{ $element.content |markdownify}}</p>
                            </div>
                        </div>
                    {{ end }}
                
                </div>
            {{ end }}

        {{ else if eq $lv "stack" }}
            <i class="debug-info">stack layout invoked</i> 
            
            <h2>{{ .headline }}</h2>
            <div>{{ .content | markdownify}}</div>

            {{ if .elements }}
                <div class="stacked-element-container {{ $lv }} {{ $colorClass }}">
                
                    {{ range .elements }}
                        <div class="row stacked-element  {{ $lv }}">
                            <div class="col">
                                <h3>{{ .headline }}</h3>
                                <p>{{ .content |markdownify}}</p>
                            </div>
                        </div>
                    {{ end }}
                
                </div>
            {{ end }}
            {{ if eq $tv "with-table" }}
            
            <i class="debug-info" style="right:20px;">with-table sub layout invoked</i> 
                <div class=" row {{ $tv }}">
                
                    {{ .table | markdownify}}
                
                </div>
            {{ end }}

        {{ else if eq $lv "three" }}
            <i class="debug-info">three layout invoked</i> 
            
            <h2>{{ .headline }}</h2>
            <div>{{ .content | markdownify}}</div>

            {{ if .elements }}
                <div class="stacked-element-container {{ $lv }} {{ $colorClass }} mt-4 mb-4 flex-wrap gap-3">
                
                    {{ range .elements }}
                        <div class="d-flex stacked-element flex-column gx-0">
                            {{ if .media }}
                            <div class="media col-lg-3">
                                <img src="{{ .Site.BaseURL }}{{ .media }}"  class="img-fluid"/>
                            </div>
                            {{ end }}
                            <div class="col">
                                <h3>{{ .title }}</h3>
                                <p>{{ .content |markdownify}}</p>
                            </div>
                        </div>
                    {{ end }}
                
                </div>
            {{ end }}

            {{ if eq $tv "cta" }}
            
            <i class="debug-info" style="right:20px;">cta sub layout invoked</i> 
                <div class="row space-between align-items-center mt-4 mb-4">
                    <div class="col">
                        {{ .cta_content }}
                    </div>
                    <div class="col-auto">
                        <a href="{{ .cta_link_url }}" class='no-underline'><button class="{{ .button_rank }}">{{ .cta_link_text }}</button></a>
                    </div>
                </div>
                <div>                    
                    {{ partial "blocks/comet-line-left.html" }} 
                </div>
            {{ end }}

        {{ else if eq $lv "grid" }}
            <i class="debug-info">grid layout invoked</i> 
            
            {{ if eq $mv "organisers"}}
                <h2>{{ .headline }}</h2>
                <div class="organisers-intro">{{ .content | markdownify}}</div>

                {{ if .orgs }}
                    <div class="stacked-element-container grid organiser-orgs {{ $colorClass }} mb-2">
                    
                        {{ range .orgs }}
                            <div class="orgs stacked-element">
                                <div class="org-logo">
                                    <img src="{{ .Site.BaseURL }}{{ .media }}" class="img-fluid" alt="{{ .link_text }}">
                                </div>
                                <div class="link-out">
                                    <a href="{{ .link }}" class='no-underline' target="_blank" rel="noopener noreferrer"><button class="reverse">{{ .link_text }} <i class='fa-solid fa-fw fa-external-link'></i></button></a>
                                </div>
                            </div>
                        {{ end }}
                    
                    </div>
                {{ end }}
                
                <div class="organisers-split">{{ .split | markdownify}}</div>

                {{ if .reps }}
                    <div class="stacked-element-container grid organiser-reps mb-2">                    
                        {{ range .reps }}
                            {{ partial "blocks/person-4.html" . }}                            
                        {{ end }}                    
                    </div>
                {{ end }}
            
            {{ else if eq $mv "advisors"}}
                <h2>{{ .headline }}</h2>
                <div class="advisors-intro">{{ .content | markdownify}}</div>

                {{ if .advisors }}
                    <div class="stacked-element-container grid advisor-cards {{ $colorClass }} mt-2 mb-2">
                        {{ range .advisors }}
                            {{ partial "blocks/person-3.html" . }}
                        {{ end }}
                    </div>
                {{ end }}
            {{ else }}
                {{ if .elements }}
                    <div class="stacked-element-container grid {{ $colorClass }}">
                    
                        {{ range .elements }}
                            <div class="elements col row stacked-element gx-0">
                                <div class="">
                                    <div class="status">
                                        {{ .icon |markdownify }} {{ .status }}
                                    </div>
                                    {{ with .label }}
                                    <div class="project-label">{{ . }}</div>
                                    {{ end }}
                                    <h3>{{ .headline }}</h3>
                                    {{ with .collaborators }}
                                    <p class="project-collaborators{{ if $.label }} project-collaborators-lead{{ end }}"><strong>Collaborators:</strong> {{ . }}</p>
                                    {{ end }}
                                    <p>{{ .content |markdownify}}</p>
                                </div>
                                {{ with .link }}
                                <div class="link-out">
                                    <a href="{{ . }}" class='no-underline' target="_blank" rel="noopener noreferrer"><button class="reverse">View project <i class='fa-solid fa-fw fa-external-link'></i></button></a>
                                </div>
                                {{ end }}
                            </div>
                        {{ end }}
                    
                    </div>
                {{ end }}
            {{ end }}
      
        {{ end }}


        
       
    </div>
</section>