<section class="section-block text-media-band {{ .variant }}">
    <div>
        {{ if eq .variant "cta-only" }} 
            <i class="debug-info">cta-only layout invoked</i>  

             
            <div class="row"> 
                <div class="col-xl-6 d-flex align-items-end flex-column justify-content-between">
                    <div class='col-12'>
                        <h2>{{ .headline }}</h2>
                    </div>
                    {{ partial "blocks/comet-line-right.html" }} 
                </div>
                <div class="col-xl-6">
                    
                    <div>{{ .content | markdownify}}</div>
                    
                    <div class="d-flex flex-wrap cta-row">
                        {{ if .cta_left_url }}
                        <div class=" col-sm-12 col-lg-6 mb-2">
                            <a href="{{ .cta_left_url }}" class='no-underline'><button class="{{ .left_button_rank}}">{{ .cta_left_text }}</button></a>
                        </div>
                        {{ end }}
                        
                        {{ if .cta_right_url }}
                        <div class="col-sm-12 col-lg-6">
                            <a href="{{ .cta_right_url }}" class='no-underline'><button class="{{ .right_button_rank}}">{{ .cta_right_text }}</button></a>
                        </div>
                        {{ end }}
                    </div> 
                    
                </div>  
            </div>  


     
        {{ else if eq .variant "image-left" }}

            <i class="debug-info">image-left layout invoked</i>  
            <div class="row"> 
                <div class="media-col col-xl-6">
                    <img src="{{ .media | relURL }}" alt="{{ .media_alt }}" title="{{ .media_hover }}" />
                </div>
                <div class="content-col col-xl-6">
                    <h2>{{ .headline }}</h2>
                    <div>{{ .content | markdownify}}</div>
                    
                    {{ partial "blocks/comet-line-left.html" }} 
                </div>   
            </div>     

        {{ else if eq .variant "image-right" }}

            <i class="debug-info">image-right layout invoked</i>  
            <div class="row"> 
                <div class="content-col col-xl-6">
                    <h2>{{ .headline }}</h2>
                    <div>{{ .content | markdownify }}</div>
                    {{ partial "blocks/comet-line-right.html" }} 
                </div> 
                <div class="media-col col-xl-6">
                    <img src="{{ .media | relURL }}" alt="{{ .media_alt }}" title="{{ .media_hover }}" />
                </div>  
            </div>     
 
        {{ else if eq .variant "text-only" }}
            
        <i class="debug-info">text-only layout invoked</i>  
            <div class="row"> 
                <div class="col-12">
                    <h2>{{ .headline }}</h2>
                    <div>{{ .content | markdownify }}</div>
                </div> 
            </div> 

        {{ else }}
            <i class="debug-info">Default layout invoked</i>
        {{ end }}
    </div>
</section>